@charset "utf-8";

$success: rgb(199,221,219);
$primary: rgb(41, 171, 135);
$warning: rgb(255,242,219);
$info:rgb(245, 248, 250);
$footer: rgb(124, 124, 124);
$footer-hover: rgb(100, 100, 100);
$light: rgb(246, 249, 252);

@import "~bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

.footer-link {
    color: $footer;
    font-weight: bold;
}

.footer-link:hover {
    color: $footer-hover;
}

.tile-link:hover {
    background-color: rgb(238, 242, 245);
}

.text-link {
    color: black;
}

blockquote {
    background-color: blue,
}
.anchor a {
    position: absolute;
    left: 0px;
    top: -60px;
}
.anchor {
    position: relative;
}