@charset "utf-8";

$success: rgb(199,221,219);
$primary: #3ea6c8;
$warning: rgb(255,242,219);
$info:rgb(245, 248, 250);
$footer: rgb(124, 124, 124);
$footer-hover: rgb(100, 100, 100);
$light: rgb(246, 249, 252);

@import "~bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

.footer-link {
    color: $footer;
    font-weight: bold;
}

.footer-link:hover {
    color: $footer-hover;
}

.tile-link:hover {
    background-color: rgb(238, 242, 245);
}

.text-link {
    color: black;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -60px;
}
.anchor {
    position: relative;
}

.wave-container {
  position: relative;
  background: $light;
  max-width: unset;
}

.wave {
  position: absolute;
  height: 109px;
  width: 100%;
  background: $light;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 53.5%;
  height: 110%;
  background-color: $primary;
  right: 0;
  top: 60%;
}
.wave::after {
  width: 53.5%;
  height: 100%;
  background-color: $light;
  left: 0;
  top: 40%;
}